
body {
    background-image: url('gif.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    }
    .container{
        width: 1200px;
        margin: auto;
        margin: 50px;

    }
    .box1{
        background-color: darkturquoise;
        color: white;
    
        border: 5px blue solid;
        margin-left: 50px;
        margin-right: 400px;
        margin-top: 120px;
        text-align: center;
    }